[submodule "lib/brick-deploy"]
	path = lib/brick-deploy
	url = git://github.com/unified-arts/brick-deploy.git
[submodule "lib/brick-build"]
	path = lib/brick-build
	url = git://github.com/unified-arts/brick-build.git
